* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f6f6f6;
    font-size: 12px;
    padding-top: 10px;
}
.wrapper {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
}
.nav {
    background: url("../img/bg.jpg") repeat-x;
}
.nav ul {
    list-style-type: none;
    padding: 4px 0 8px 20px;
}
.nav li {
    display: inline-block;
    margin: 0 12px;
}
.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.nav a:hover {
    color: #ffff00;
}
.content {
    overflow: hidden;/*清除浮动*/
}
.article {
    float: left;
    padding: 5px 10px 5px 15px;
    border-right: 1px dotted #ccc;
    width: 520px;
}
.article h1 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 20px;
    font-family: 黑体;
}
.article h2 {
    font: bold 15px 微软雅黑;
    text-indent: 2em;
    margin: 20px 0 10px;
}
.article p {
    text-indent: 2em;
    margin: 10px 0;
}
.asidebar {
    float: right;
    width: 230px;
    margin: 85px 0 20px 20px;
}
.aside {
    margin-bottom: 10px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.aside h2 {
    background-color: #2267b5;
    font-size: 12px;
    color: #f5f5f5;
    padding: 5px 0 5px 20px;
}
.aside ul {
    margin-left: 30px;
}
.aside li {
    margin: 8px 0;
}
.aside a {
    color: #000;
    text-decoration: none;
}
.aside a:hover {
    text-decoration: underline;
    color: #00A000;
}
.footer {
    background-image: url("../img/bg.jpg");
    padding: 8px 0 8px 15px;
    color: #fff;
    margin-bottom: 20px;
}